# Ignore the contents of the _site directory
_site/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json

paper/*
!paper/wwwpage/
paper/wwwpage/*
!paper/wwwpage/index.html
!paper/wwwpage/WWW_PolicySim.pdf
!paper/wwwpage/assets/
paper/wwwpage/assets/*
!paper/wwwpage/assets/figure1.png
!paper/wwwpage/assets/policysim-figure1.png

cv-latex
